In [1]:
import pandas as pd

In [6]:
df_raw = pd.read_csv('../DataProcessed/df_houston_2000.csv')

/opt/anaconda3/envs/aviation/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3524: DtypeWarning: Columns (3,5,7,8,9,11,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,60,61,62,63,64,65,66,67,69,70,71,72,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,102,103,104,105,106,107,108,109,110,111,115,116,117,118,119,123,124,125,126,128,129,130,131,139,140,142,145,148,149,150,152,154,156) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
# Get all names 
for col_name in df_raw.columns: 
    print(col_name)

Unnamed: 0
STATION
DATE
SOURCE
REPORT_TYPE
CALL_SIGN
QUALITY_CONTROL
AA1
AA2
AA3
AA4
AB1
AC1
AD1
AE1
AG1
AH1
AH2
AH3
AH4
AH5
AH6
AI1
AI2
AI3
AI4
AI5
AI6
AJ1
AK1
AL1
AM1
AN1
AT1
AT2
AT3
AT4
AT5
AT6
AT7
AT8
AU1
AU2
AU3
AU4
AU5
AU6
AW1
AW2
AW3
AW4
AW5
AW6
AX1
AX2
AX3
AX4
AX5
AY1
AY2
CALL_SIGN.1
ED1
EQD
GA1
GA2
GA3
GA4
GA5
GA6
GD1
GD2
GD3
GD4
GD5
GD6
GE1
GF1
GJ1
GK1
GM1
GP1
GQ1
GR1
HL1
IA1
KA1
KA2
KA3
KA4
KB1
KB2
KB3
KC1
KC2
KD1
KD2
KE1
KG1
KG2
MA1
MD1
ME1
MF1
MG1
MH1
MK1
MV1
MW1
MW2
MW3
MW4
MW5
MW6
MW7
OA1
OC1
OD1
OE1
OE2
OE3
QUALITY_CONTROL.1
REM
REPORT_TYPE.1
RH1
RH2
RH3
SA1
SLP
SOURCE.1
UA1
UG1
WA1
WG1
DATE_year
DATE_month
DATE_day
DATE_hour
DATE_year_month_day
WND_angle
WND_angle_quality
WND_wind_observation
WND_speed
WND_speed_quality
CIG_ceiling_height
CIG_ceiling_quality
CIG_determ
CIG_CAVOK
VIS_distance
VIS_distance_quality
VIS_observation
VIS_observation_quality
TMP_temp_celsius
TMP_temp_quality
DEW_temp_celsius
DEW_quality
SLP_hectopascal
SLP_quality
AT
AT_binary
AT_thunder
AT_tornado

In [14]:
cols = ['STATION', #
        'DATE',
        'SOURCE', # 
        'DATE_year',
        'DATE_month',
        'DATE_day',
        'DATE_hour',
        'WND_angle',
        'WND_speed',
        'CIG_ceiling_height',
        'VIS_distance',
        'TMP_temp_celsius',
        'DEW_temp_celsius',
        'SLP_hectopascal',


        'AT',
        'AT_binary',
        'AT_thunder',
        'AT_tornado']

In [13]:
df_raw[cols]

,STATION,DATE,SOURCE,DATE_year,DATE_month,DATE_day,DATE_hour,WND_angle,WND_speed,CIG_ceiling_height,VIS_distance,TMP_temp_celsius,DEW_temp_celsius,SLP_hectopascal,AT,AT_binary,AT_thunder,AT_tornado
0,99999912975,2000-01-01T05:59:00,6,2000,1,1,5,999,9999,99999,999999,9999,9999,99999,[0 0 0],0,0,0
1,99999912975,2000-01-01T05:59:00,6,2000,1,1,5,999,9999,99999,999999,9999,9999,99999,[0 0 0],0,0,0
2,99999912975,2000-01-02T05:59:00,6,2000,1,2,5,999,9999,99999,999999,9999,9999,99999,[0 0 0],0,0,0
3,99999912975,2000-01-03T05:59:00,6,2000,1,3,5,999,9999,99999,999999,9999,9999,99999,[0 0 0],0,0,0
4,99999912975,2000-01-04T05:59:00,6,2000,1,4,5,999,9999,99999,999999,9999,9999,99999,[0 0 0],0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2508264,99848199999,2022-04-16T17:00:00,4,2022,4,16,17,220,46,99999,999999,247,9999,10139,[0 0 0],0,0,0
2508265,99848199999,2022-04-16T18:00:00,4,2022,4,16,18,220,36,99999,999999,254,9999,10135,[0 0 0],0,0,0
2508266,99848199999,2022-04-16T19:00:00,4,2022,4,16,19,210,36,99999,999999,251,9999,10132,[0 0 0],0,0,0
2508267,99848199999,2022-04-16T20:00:00,4,2022,4,16,20,270,10,99999,999999,256,9999,10131,[0 0 0],0,0,0
2508268,99848199999,2022-04-16T21:00:00,4,2022,4,16,21,210,15,99999,999999,256,9999,10122,[0 0 0],0,0,0